<form *ngIf="MainsPage">
    <div class="main">
        <h1>Senior Ecommerce</h1>
        <img src="assets/ecommerce.png">
    </div>
    
    <div>
        <input type="button" value="Produtos"   class="btn btn-primary" (click)="showProductPage()">
        <input type="button" value="Pedidos"    class="btn btn-primary" (click)="showOrderPage()">
        <input type="button" value="Relatórios" class="btn btn-primary" (click)="showReportPage()">
    </div>
</form>

<div *ngIf="ProductsPage">
    <form>
        <img src="assets/product.png">
    
        <h1>Produtos</h1>

        <div class="productDiv">
            <h4>Nome</h4>
            <input type="text"   class="form-control" name="name"         [(ngModel)]="product.name">        
        </div>
        <div class="productDiv">
            <h4>Descrição</h4>
            <input type="text"   class="form-control" name="description"  [(ngModel)]="product.description">
        </div>
        <div class="productDiv">
            <h4>Quantidade</h4>
            <input type="number" class="form-control" name="quantity"     [(ngModel)]="product.quantity">
        </div>
        <div class="productDiv">
            <h4>Preço</h4>
            <input type="number" class="form-control" name="price"        [(ngModel)]="product.price">
        </div>
    
        <input type="button" value="Cadastrar" *ngIf="btnRegister" class="btn btn-primary"    (click)="insertProduct()">
        <input type="button" value="Alterar"   *ngIf="!btnRegister" class="btn btn-warning"   (click)="updateProduct()">
        <input type="button" value="Remover"   *ngIf="!btnRegister" class="btn btn-danger"    (click)="deleteProduct()">
        <input type="button" value="Cancelar"  *ngIf="!btnRegister" class="btn btn-secondary" (click)="cancelProduct()">
        <input type="button" value="Voltar"    *ngIf="btnRegister" class="btn btn-primary"    (click)="showMainPage()">
    
    </form>
    
    <table class="table" *ngIf="table">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Código interno</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Selecionar</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let c of products; index as n">
                <td>{{n+1}}</td>
                <td>{{c.id}}</td>
                <td>{{c.internalCode}}</td>
                <td>{{c.name}}</td>
                <td>{{c.description}}</td>
                <td>{{c.quantity}}</td>
                <td>{{c.price}}</td>
                <td><button class="btn btn-success" (click)="getProduct(n)">Selecionar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="OrdersPage">
    <form>
        <img src="assets/order.png">
    
        <h1>Pedidos</h1>
        
        <div class="productDiv">
            <h4>Cliente</h4>
            <input type="text" class="form-control" name="customerName" [(ngModel)]="orderProductAux.order.customerName">
        </div>
        <div class="productDiv">
            <h4>CPF</h4>
            <input type="text" class="form-control" name="cpf" [(ngModel)]="orderProductAux.order.cpf">
        </div>
        <div class="productDiv">
            <h4>e-mail</h4>
            <input type="text" class="form-control" name="customerName" [(ngModel)]="orderProductAux.order.email">
        </div>
        <div class="productDiv">
            <h4>Produto</h4>
            <input type="text" class="form-control" name="products">
        </div>
        <div class="productDiv">
            <h4>Quantidade</h4>
            <input type="number" class="form-control" name="quantity">
        </div>
    
        <input type="button" value="Cadastrar" *ngIf="btnRegister" class="btn btn-primary"    (click)="insertOrder()">
        <input type="button" value="Voltar"    *ngIf="btnRegister" class="btn btn-primary"    (click)="showMainPage()">
    
    </form>
    
    <table class="table" *ngIf="table">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Número</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>e-mail</th>
                <th>Valor Total</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of orders; index as n">
                <td>{{n+1}}</td>
                <td>{{c.id}}</td>
                <td>{{c.number}}</td>
                <td>{{c.customerName}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.email}}</td>
                <td>{{c.total}}</td>
                <td>{{c.date}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="ReportsPage">
    <form>
        <img src="assets/report.png">
    
        <h1>Relatórios de pedidos</h1>

        <input type="button" value="Voltar" *ngIf="btnRegister" class="btn btn-primary" (click)="showMainPage()">
    </form>

    <table class="table" *ngIf="table">
        <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>Número</th>
                <th>Cliente</th>
                <th>CPF</th>
                <th>e-mail</th>
                <th>Produto(s)</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let c of orders; index as n">
                <td>{{n+1}}</td>
                <td>{{c.id}}</td>
                <td>{{c.number}}</td>
                <td>{{c.customerName}}</td>
                <td>{{c.cpf}}</td>
                <td>{{c.email}}</td>
                <td>
                    <table>
                        <tr *ngFor="let o of c.orderProducts">
                            <td>{{ o.product.name }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr *ngFor="let o of c.orderProducts">
                            <td>{{ o.quantity }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr *ngFor="let o of c.orderProducts">
                            <td>{{ o.price }}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr *ngFor="let o of c.orderProducts">
                            <td>{{ o.subTotal }}</td>
                        </tr>
                    </table>
                </td>
                <td>{{c.total}}</td>
                <td>{{c.date}}</td>
            </tr>
        </tbody>
    </table>
</div>